{% extends "base.html" %}
{% block body_block %}
    <h1>Start a Booster Pack Battle</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
        <label for="{{set}}">Set:</label>
        <select name="set" id="set" class="form-control">
            {% for set in sets %}
            <div class="form_group">
                <option value="{{set}}">{{set}}</option>
            </div>
            {% endfor %}
        </select>
        </div>
        <input type="submit">
    </form>
    {% for booster in boosters %}
    <h1>Pack</h1>
        {% for card in booster %}
            <p>{{card.name}}</p>
        {% endfor %}
    {% endfor %}
{% endblock body_block %}