<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set</title>
</head>
<body>
   {% if card_set is not None %}
        <h2>Mythics</h2>
        {% for mythic in card_set.mythics %}
            <p>{{mythic.name}}</p>
        {% endfor %}
        <h2>Rares</h2>
        {% for rare in card_set.rares %}
            <p>{{rare.name}}</p>
        {% endfor %}
        <h2>Uncommons</h2>
        {% for uncommmon in card_set.uncommons %}
            <p>{{uncommon.name}}</p>
        {% endfor %}
        <h2>Commons</h2>
        {% for common in card_set.commons %}
            <p>{{common.name}}</p>
        {% endfor %}
   {% endif %}
</body>
</html>